<!DOCTYPE html>
<html>
	<head>
		<title>Admin Homepage</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"/>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
			
		<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
	</head>

	<body>
		<a class="btn btn-outline-dark logout-btn">LOGOUT</a>
		<div class="jumbotron">
			
				<h1 class="event-header" class="eb">waiting for approval</h1>
				<hr>

				<table class="waiting-for-approval">
					<!-- <div id="event-approved" class="alert alert-success">EVENT APPROVED</div>
					<div id="event-disapproved" class="alert alert-danger">EVENT DISAPPROVED</div> -->
					<tr class="event-row">
						<th>EVENT </th>
						<th>TIME</th>
						<th>DURATION(in mins)</th>
						<th>DATE</th>
						<th>VENUE</th>
						<th>CLUB NAME</th>
						<th></th>
					</tr>
				</table>
				
		</div>

		<div class="container">
			<h1 class="event-header" class="eb">Upcoming Events</h1>
			<hr>

			<table class="approved">
				<tr class="event-row">
					<th>EVENT </th>
					<th>TIME</th>
					<th>DURATION(in mins)</th>
					<th>DATE</th>
					<th>VENUE</th>
					<th>CLUB NAME</th>
				</tr>
			</table>

		</div>

	<%- include('../partials/footer') %>
	<script type="text/javascript" src="/routes/user_logout.js"></script>
	<script type="text/javascript" src="/routes/admin_homepage.js"></script>
	</body>
</html>