<!DOCTYPE html>
<html>
	<head>
		<title>Admin Homepage</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"/>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
			
		<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
		
		<script type = "text/javascript" >
			function preventBack(){window.history.forward();}
			setTimeout("preventBack()", 0);
			window.onunload=function(){null};
		</script>
		
		
	</head>

	<body>
		<a class="btn btn-outline-dark logout-btn" href="/logout">LOGOUT</a>
		<div class="jumbotron">
			
				<h1 class="event-header" class="eb">waiting for approval</h1>
				<hr>

				<table>
					<tr class="event-row">
						<th>EVENT </th>
						<th>TIMINGS</th>
						<th>DATE</th>
						<th>VENUE</th>
						<th>CLUB NAME</th>
						<th></th>
					</tr>

					<tr class="event-row">
						<td class="event-name">Classical Dance</td>
						<td class="event-time">3:30-5:00</td>
						<td class="event-date">2-12-20</td>
						<td class="venue">Sudamani Hall</td>
						<td class="name">Narthana</td>
						<td class="approval"><button onclick="alert('approved')"><span class="fas fa-check"></span></button><button onclick="alert('disapproved')"><span class="fas fa-times"></span></button></td>
					</tr>
					<tr class="event-row">
						<td class="event-name">Quiz machanege!</td>
						<td class="event-time">2:30-4:00</td>
						<td class="event-date">1-12-20</td>
						<td class="venue">Rama Hall</td>
						<td class="name">Quiz club</td>
						<td class="approval"><button onclick="alert('approved')"><span class="fas fa-check"></span></button><button onclick="alert('disapproved')"><span class="fas fa-times"></span></button></td>
					</tr>
					<tr class="event-row">
						<td class="event-name">Quiz machanege!</td>
						<td class="event-time">2:30-4:00</td>
						<td class="event-date">1-12-20</td>
						<td class="venue">Rama Hall</td>
						<td class="name">Quiz club</td>
						<td class="approval"><button onclick="alert('approved')"><span class="fas fa-check"></span></button><button onclick="alert('disapproved')"><span class="fas fa-times"></span></button></td>
					</tr>
					<tr class="event-row">
						<td class="event-name">Quiz machanege!</td>
						<td class="event-time">2:30-4:00</td>
						<td class="event-date">1-12-20</td>
						<td class="venue">Rama Hall</td>
						<td class="name">Quiz club</td>
						<td class="approval"><button onclick="alert('approved')"><span class="fas fa-check"></span></button><button onclick="alert('disapproved')"><span class="fas fa-times"></span></button></td>
					</tr>
					<tr class="event-row">
						<td class="event-name">Quiz machanege!</td>
						<td class="event-time">2:30-4:00</td>
						<td class="event-date">1-12-20</td>
						<td class="venue">Rama Hall</td>
						<td class="name">Quiz club</td>
						<td class="approval"><button onclick="alert('approved')"><span class="fas fa-check"></span></button><button onclick="alert('disapproved')"><span class="fas fa-times"></span></button></td>
					</tr>

				</table>
				
		</div>

		<div class="container">
			<h1 class="event-header" class="eb">Upcoming Events</h1>
			<hr>

			<table>
				<tr class="event-row">
					<th>EVENT </th>
					<th>TIMINGS</th>
					<th>DATE</th>
					<th>VENUE</th>
					<th>CLUB NAME</th>
				</tr>

				<tr class="event-row">
					<td class="event-name">Classical Dance</td>
					<td class="event-time">3:30-5:00</td>
					<td class="event-date">2-12-20</td>
					<td class="venue">Sudamani Hall</td>
					<td class="name">Narthana</td>
				</tr>
				<tr class="event-row">
					<td class="event-name">Quiz machanege!</td>
					<td class="event-time">2:30-4:00</td>
					<td class="event-date">1-12-20</td>
					<td class="venue">Rama Hall</td>
					<td class="name">Quiz club</td>
				</tr>
				<tr class="event-row">
					<td class="event-name">Quiz machanege!</td>
					<td class="event-time">2:30-4:00</td>
					<td class="event-date">1-12-20</td>
					<td class="venue">Rama Hall</td>
					<td class="name">Quiz club</td>
				</tr>
				<tr class="event-row">
					<td class="event-name">Quiz machanege!</td>
					<td class="event-time">2:30-4:00</td>
					<td class="event-date">1-12-20</td>
					<td class="venue">Rama Hall</td>
					<td class="name">Quiz club</td>
				</tr>
				<tr class="event-row">
					<td class="event-name">Quiz machanege!</td>
					<td class="event-time">2:30-4:00</td>
					<td class="event-date">1-12-20</td>
					<td class="venue">Rama Hall</td>
					<td class="name">Quiz club</td>
				</tr>

			</table>

		</div>

	<%- include('../partials/footer') %>
<!-- 	<script type="text/javascript" src="/routes/user_logout.js"></script> -->
	</body>
</html>