<header  id="main-header">
    <img class="img-fluid" src="/images/dance.png" alt="Narthana logo">
    <a href="/dhara"><h1 class="club-name">Narthana<br><p>This is the dance club! Let's dance :)</p></h1></a>
    <h1 class="username">Welcome<span> user</span>!</h1>

    <a class="logout-btn" href="/login">LOGOUT<!-- <h3 class="club-header">Log out</h3> --></a>		
</header>