<header  id="main-header">
    <img class="img-fluid" src="/images/dance.png" alt="Narthana logo">
    <a href="/dhara"><h1 class="club-name"><br></h1><p class="club-desc"></p></a>
    <h1 class="username">Welcome</h1>

    <a class="logout-btn" href="/login">LOGOUT<!-- <h3 class="club-header">Log out</h3> --></a>		
</header>