<!DOCTYPE html>
<html>
	<head>
		<title>ClubManagement</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/home-style.css">
	</head>
	<body>	

		<div class="img-box">
			<img class="img-fluid" src="https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
		</div>
		

		<div class="left">

			<header class="container">
				<h1>CLUB MANAGEMENT!</h1>
				<hr>
				<p>View upcoming events?</p>
				<p>Book new events?</p>
				<p>We've got you covered!</p>
				<p>You can now view all the upcoming events, follow your favourite clubs and many more...</p>
				
				<p>
					<a class="btn" href="/login">Login</a>
				</p>
			</header>

		</div>

	</body>
</html>