<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/club_page.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
    
    <title>Raaga Club Page</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/student">
            Events
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link" href="/student">Global </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/student/personal">Personal</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/student/registeredEvents">Registered Events</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="/student/all_clubs">Clubs</a>
                </li>

            </ul>
            <a class="btn btn-danger my-2 my-sm-0" href="/login">Log Out</a>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid" >
        <div class="container">
          <h1 class="display-4">Raaga Club</h1>
          <p class="lead">The music club of the college</p>
          <div ><button class="btn btn-danger"><i class="fas fa-heart"></i>  Follow</button></div>

        </div>
      </div>

      <div class="container">
         
          <div class="row " id="one">
              <div class="col-sm-12 col-md-6 col-lg-4">
                <img class="img-thumbnail" src="https://images.unsplash.com/photo-1510915361894-db8b60106cb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4">
                <img class="img-thumbnail" src="https://images.unsplash.com/photo-1460036521480-ff49c08c2781?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80" alt="">
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4">
                <img class="img-thumbnail" src="https://images.unsplash.com/photo-1519892300165-cb5542fb47c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4">
                <img class="img-thumbnail" src="https://images.unsplash.com/photo-1520523839897-bd0b52f945a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4">
                <img class="img-thumbnail" src="https://images.unsplash.com/photo-1580719653258-26873fde0b4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4">
                <img class="img-thumbnail" src="https://images.unsplash.com/photo-1556298183-a7ba6248bc58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" alt="">
              </div>
          </div>


          <div class="card " id="two" style="margin-bottom: 20px;">
            <div class="card-body">
                <ul class="managers">
                    <li> SECRETARY : xyz</li>
                    <li>CO SECRETARY : xyz</li>
                    <li> CONTACT : 886977989</li>
                </ul>
             
              
             
            </div>
          </div>
      </div>

      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>