<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/students_club.css">
    <title>Student-Clubs</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/student">
            Events
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Global </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/student/all_clubs">Clubs</a>
                </li>

            </ul>
            <a class="btn btn-danger my-2 my-sm-0" href="/login">Log Out</a>
        </div>
    </nav>

    <div class="container">
        <div class="card-group">
            <div class="card">
              <img src="/images/music.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="/student/all_clubs/club"><h5 class="card-title">Raaga</h5></a>
                <p class="card-text">This is a  card with supporting text below as a natural lead-in to additional content. </p>
                
              </div>
            </div>
            <div class="card">
              <img src="/images/dance.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Narthana</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                
              </div>
            </div>
            <div class="card">
              <img src="/images/event.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Quiz Club</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                
              </div>
            </div>
          </div>
           <div class="card-group">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1546519638-68e109498ffc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1067&q=80" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Sports</h5>
                <p class="card-text">This is a  card with supporting text below as a natural lead-in to additional content. </p>
                
              </div>
            </div>
            <div class="card">
              <img src="https://images.unsplash.com/photo-1513364776144-60967b0f800f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">ART </h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                
              </div>
            </div>
            <div class="card">
              <img src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">FACE</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                
              </div>
            </div>
          </div>
    </div>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>