<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Launch Event!</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/eventForm.css">
    
  </head>
  <body>
    <%- include("../partials/dhara_header.ejs") %>
    <!-- <div class="events"> -->
        <div class="container">

            <h1  class="eb eventForm"><a href="/dhara"><span class="fas fa-arrow-left"></span></a>REGISTER A NEW EVENT!</h1>
    
            <form class="eventForm" id="eventDetails"> 
                <div class="form-group">
                    <label for="eventNameInput">Event Name</label>
                    <input type="text" class="form-control" id="eventNameInput" placeholder="name of the event">
                </div>

                <div class="form-group">
                    <label for="descInput">Description</label>
                    <textarea class="form-control" name="descInput" placeholder="describe the event"id="descInput" cols="15" rows="5"></textarea>
                </div>

                <div class="form-group half-width">
                    <label for="eventDate">Date</label>
                    <input type="date" class="form-control" id="eventDate">
                </div>

                <div class="form-group">
                    <label for="eventTime">Time</label><br>
                    <div class="alert alert-danger" role="alert">NOTE: Make sure your event ends before 6:30pm</div>
                    
                    <div class="row">
                        <div class="col">
                          <input type="time" class="form-control" id="eventTime" placeholder="3:30 pm"  min="15:30" max="18:00">
                        </div>
                        <div class="col">
                         <input type="number" class="form-control" id="eventDuration" placeholder="duration in mins" min="30" max="180">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col"><label for="eventPlace">Venue</label>
                            <select class="form-control" id="eventPlace" name="eventPlace">
                                <option value="Sudamani">Sudamani</option>
                                <option value="Rama">Rama </option>
                                <option value="Vyasa">Vyasa</option>
                                <option value="Amriteshwari" disabled>Amriteshwari</option> 
                                <option value="Valmiki" disabled>Valmiki</option>  
                                <option value="B&C block" >B&C block</option>
                                <option value="New block" >New block</option>
                                <option value="fountain Road" >fountain Road</option>
                                <option value="football field 1">football field 1</option>    
                                <option value="football field 2">football field 2</option>     
                                <option value="basketball court">basketball court</option>
                                <option value="volleyball field 1">volleyball court</option>     
                                <option value="cricket ground">cricket ground</option>     
                            </select></div>
                        <div class="col">
                            <label for="posterURL">Poster URL</label>
                            <input type="text" class="form-control" id="posterURL" placeholder="Enter the URL here." required>
                        </div>
                    </div>
                    
                </div>

                <button type="submit" class="btn btn-dark">Request</button>

                
            </form>
        </div>
<!-- </div> -->
    <%- include('../partials/footer') -%>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/routes/dhara_header.js"></script>
    <script type="text/javascript" src="/routes/eventForm.js"></script>
    <script type="text/javascript" src="/routes/user_logout.js"></script>
  </body>
</html>